<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chang.jonathan.swisscheese">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <receiver android:name=".Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chang.jonathan.swisscheese.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".post.PostActivity">

        </activity>
        <activity android:name=".post.ViewPostActivity">


        <intent-filter
            android:label="swisscheese">
            <action android:name ="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.BROWSABLE" />
            <!-- Accept uri begin with "http://www.swisscheese.com/swiss?t=hi&c=whatsup" -->
            <data android:scheme="http"
                android:host ="www.swisscheese.com"
                android:pathPrefix="/swiss"/>
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>